<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_t26"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD23Sp_Team26"
        tools:targetApi="31">
        <activity
            android:name=".pixel_pop.DrawActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".a8_stickers.ReceiveNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".a8_stickers.StickersListActivity"
            android:exported="false" />
        <activity
            android:name=".a8_stickers.ReceivedHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".a8_stickers.StickerUserDirectoryActivity"
            android:exported="false" />
        <activity
            android:name=".a8_stickers.StickerUserActivity"
            android:exported="false" />
        <activity
            android:name=".a8_stickers.RegisterActivity"
            android:exported="false"
            android:label="Register" />
        <activity
            android:name=".a8_stickers.LoginActivity"
            android:exported="false"
            android:label="Login" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".MovieActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>